
$primaryColor: #000B49;

header{
    color: white;
    background: $primaryColor;
    padding: 20px 0;
    // z-index: 5;
    .container{
        .top-header{
            // display: flex;
            .profile{
                position: relative;
                transition: all .5s;
                // width: auto;
                padding-bottom: 10px;
                &:hover {
                    transition: all .3s;
                    .dropdown-profile{
                        display: block;
                    }
                }
                .login-complete{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    transition: all .3s;
                    
                    
                }
                .dropdown-profile{
                    // padding: 10px;
                    z-index: 99;
                    width: 200px;
                    position: absolute;
                    right: 0;
                    margin-top: 10px;
                    display: none;
                    background: white;
                   
                    ul{
                        
                        li{
                            padding: 10px 15px;
                            color: #000;
                            // background: white;
                            border: 1px solid rgba(#333, 0.1);
                            transition: all .3s;
                            &:hover{
                                background:rgb(200, 199, 216);
                            } 
                        }
                    }
                }

            }
            
            .avatar{

                img{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    overflow: hidden;

                }
                margin-right: 10px;
            }
            .success-login{
                // text-align: end;
                cursor: pointer;
                span{
                    transition: all .2s;
                    color: white;
                    // &:hover{
                    //     text-decoration: underline;

                    // }
                }
            }

        
            .login{
                text-align: end;
                cursor: pointer;
                span{
                    transition: all .2s;
                    color: white;
                    &:hover{
                        text-decoration: underline;

                    }
                }
                
            }
        }

        .main-header{
            margin: 10px auto;
            .logo{
                width: 200px;
                height: 80px;
                
            }

            .search{
                background: white;
                padding: 10px 10px;
                border-radius: 3px;
                input{
                    width: 500px;

                }
            }

            .cart{
                position: relative;
                margin-right: 30px;
                span{
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    border: 1px solid black;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    color: black;
                    top: -13px;
                    right: -12px;
                }
            }
        }

        .header-content{
            margin-top: 30px;
            .list-categories{
                .item{
                    &:hover{
                        span,img{
                            color: #607EAA;
                        }
                    }
                    span{
                        color: white;
                        margin-left: 5px;
                       
                    }

                    img{
                        // margin-top: 5px;
                       // position: absolute;
                    //    transform: translate(-20px,0px);
                        width: 20px;
                        height: 20px;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}